:root {
    --blue: #1f6bff;
    --indigo: #640DF3;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #e6180d;
    --orange: #FF9500;
    --yellow: #FFCC00;
    --green: #028824;
    --teal: #20c997;
    --cyan: #30beff;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #657eae;
    --gray-dark: #3c4e71;
    --gray-100: #ebeef4;
    --gray-200: #dae0ec;
    --gray-300: #c9d2e3;
    --gray-400: #a8b6d1;
    --gray-500: #869ac0;
    --gray-600: #657eae;
    --gray-700: #4d6593;
    --gray-800: #3c4e71;
    --gray-900: #212837;
    --default: #dae0ec;
    --theme: #1f6bff;
    --theme-color: #FFFFFF;
    --primary: #1f6bff;
    --secondary: #c9d2e3;
    --success: #028824;
    --info: #30beff;
    --warning: #FF9500;
    --danger: #e6180d;
    --light: #ebeef4;
    --dark: #212837;
    --blue: #1f6bff;
    --indigo: #640DF3;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #e6180d;
    --orange: #FF9500;
    --yellow: #FFCC00;
    --green: #028824;
    --teal: #20c997;
    --lime: #90ca4b;
    --cyan: #30beff;
    --white: #FFFFFF;
    --muted: #869ac0;
    --black: #000000;
    --gray-100: #ebeef4;
    --gray-200: #dae0ec;
    --gray-300: #c9d2e3;
    --gray-400: #a8b6d1;
    --gray-500: #869ac0;
    --gray-600: #657eae;
    --gray-700: #4d6593;
    --gray-800: #3c4e71;
    --gray-900: #212837;
    --default-rgb: 218,224,236;
    --theme-rgb: 31,107,255;
    --theme-color-rgb: 255,255,255;
    --primary-rgb: 31,107,255;
    --secondary-rgb: 201,210,227;
    --success-rgb: 2,136,36;
    --info-rgb: 48,190,255;
    --warning-rgb: 255,149,0;
    --danger-rgb: 230,24,13;
    --light-rgb: 235,238,244;
    --dark-rgb: 33,40,55;
    --blue-rgb: 31,107,255;
    --indigo-rgb: 100,13,243;
    --purple-rgb: 111,66,193;
    --pink-rgb: 214,51,132;
    --red-rgb: 230,24,13;
    --orange-rgb: 255,149,0;
    --yellow-rgb: 255,204,0;
    --green-rgb: 2,136,36;
    --teal-rgb: 32,201,151;
    --lime-rgb: 144,202,75;
    --cyan-rgb: 48,190,255;
    --white-rgb: 255,255,255;
    --muted-rgb: 134,154,192;
    --black-rgb: 0,0,0;
    --gray-100-rgb: 235,238,244;
    --gray-200-rgb: 218,224,236;
    --gray-300-rgb: 201,210,227;
    --gray-400-rgb: 168,182,209;
    --gray-500-rgb: 134,154,192;
    --gray-600-rgb: 101,126,174;
    --gray-700-rgb: 77,101,147;
    --gray-800-rgb: 60,78,113;
    --gray-900-rgb: 33,40,55;
    --primary-text-emphasis: #0c2b66;
    --secondary-text-emphasis: #50545b;
    --success-text-emphasis: #01360e;
    --info-text-emphasis: #134c66;
    --warning-text-emphasis: #663c00;
    --danger-text-emphasis: #5c0a05;
    --light-text-emphasis: #4d6593;
    --dark-text-emphasis: #4d6593;
    --primary-bg-subtle: #d2e1ff;
    --secondary-bg-subtle: #ebeef4;
    --success-bg-subtle: #cce7d3;
    --info-bg-subtle: #d6f2ff;
    --warning-bg-subtle: #fff5cc;
    --danger-bg-subtle: #fad1cf;
    --light-bg-subtle: #f5f7fa;
    --dark-bg-subtle: #a8b6d1;
    --primary-border-subtle: #a5c4ff;
    --secondary-border-subtle: #dae0ec;
    --success-border-subtle: #9acfa7;
    --info-border-subtle: #ace5ff;
    --warning-border-subtle: #ffeb99;
    --danger-border-subtle: #f5a39e;
    --light-border-subtle: #dae0ec;
    --dark-border-subtle: #869ac0;
    --white-rgb: 255,255,255;
    --black-rgb: 0,0,0;
    --font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --body-font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --body-font-size: 0.875rem;
    --body-font-weight: 400;
    --body-line-height: 1.5;
    --body-color: #212837;
    --body-color-rgb: 33,40,55;
    --body-bg: #ebeef4;
    --body-bg-rgb: 235,238,244;
    --emphasis-color: #000000;
    --emphasis-color-rgb: 0,0,0;
    --secondary-color: rgba(33, 40, 55, 0.75);
    --secondary-color-rgb: 33,40,55;
    --secondary-bg: #ebeef4;
    --secondary-bg-rgb: 235,238,244;
    --tertiary-color: rgba(33, 40, 55, 0.5);
    --tertiary-color-rgb: 33,40,55;
    --tertiary-bg: #ebeef4;
    --tertiary-bg-rgb: 235,238,244;
    --heading-color: #000000;
    --link-color: #1f6bff;
    --link-color-rgb: 31,107,255;
    --link-decoration: underline;
    --link-hover-color: rgba(31, 107, 255, 0.5);
    --link-hover-color-rgb: 31,107,255;
    --code-color: #d63384;
    --highlight-bg: #fff5cc;
    --border-width: 1px;
    --border-style: solid;
    --border-color: #d1d9e7;
    --border-color-translucent: rgba(60, 78, 113, 0.2);
    --border-radius: 6px;
    --border-radius-sm: 3px;
    --border-radius-lg: 9px;
    --border-radius-xl: 1rem;
    --border-radius-xxl: 2rem;
    --border-radius-2xl: var(--border-radius-xxl);
    --border-radius-pill: 50rem;
    --box-shadow: 0 0.5rem 1rem rgba(var(--black-rgb), 0.15);
    --box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--black-rgb), 0.075);
    --box-shadow-lg: 0 1rem 3rem rgba(var(--black-rgb), 0.175);
    --box-shadow-inset: inset 0 1px 2px rgba(var(--black-rgb), 0.075);
    --focus-ring-width: 0.25rem;
    --focus-ring-opacity: 0.25;
    --focus-ring-color: rgba(31, 107, 255, 0.25);
    --form-valid-color: #028824;
    --form-valid-border-color: #028824;
    --form-invalid-color: #e6180d;
    --form-invalid-border-color: #e6180d;
}